## Demo en clase S4
##### Temas:

1. Recuento de funciones
2. Recuento de programaci√≥n orientada a objetos
3. Carga de m√∫ltiples archivos

https://www.kaggle.com/datasets/knightbearr/sales-product-data

In [ ]:
# Secuencial # DRY

print(1)
print(2)
print(3)
print(4)

### Recuento de funciones

In [ ]:
def nombre_funcion():
    print("una tarea que hace la funci√≥n 1")
    print("una tarea que hace la funci√≥n 2")
    print("una tarea que hace la funci√≥n 3")
    print("una tarea que hace la funci√≥n 4")

In [ ]:
# Llamado a la funci√≥n
nombre_funcion()

In [ ]:
def nombre_funcion_con_retorno():
    texto_retorno = "Un retorno de la funci√≥n"
    return texto_retorno

# llamado con retorno
valor_resultante = nombre_funcion_con_retorno()
print(valor_resultante)

## Ejemplo almacenar elementos resultantes

In [ ]:
def nombre_funcion_con_parametros(a, b):
    print("recib√≠ a como: ", a)
    print("recib√≠ b como: ", b)
    return a+b

nombre_funcion_con_parametros(4, 5)
# mostrar que pasa si no se entregan los parametros

In [ ]:
# par√°metros por defecto (a = 3, b = 5)
def nombre_funcion_con_parametros(a = 3, b = 5):
    print("recib√≠ a como: ", a)
    print("recib√≠ b como: ", b)
    return a+b

# nombre_funcion_con_parametros(2, 22)
nombre_funcion_con_parametros(b = 8)
# mostrar que pasa si no se entregan los parametros

### Comportamiento de las variables en relaci√≥n a la visibilidad (global / local)

In [ ]:
 estado = "lloviendo üåß"

# ¬øQu√© pas√≥ aqu√≠?

# Hablar de visibilidad de las variables
# Hablar de enmascaramiento y alcance
# Demostrar el uso de global

In [ ]:
def cambiarEstado(nuevo_estado):
    # global estado
    estado = nuevo_estado
    print("en el interior:", estado)

In [ ]:
print("en el exterior:", estado)
cambiarEstado("Soleado ‚òÄ")
print("en el exterior:", estado)

### ¬øfunciones como par√°metros?

Composicion y la idea de ciudadanos de primer nivel.

In [ ]:
def operar (a, b, accion):
    return accion(a, b)

def sumar(a, b):
    return a+b

def restar(a, b):
    return a-b

def multiplicar(a, b):
    return a*b

def dividir(a, b):
    return a/b

In [ ]:
operar(2, 2, sumar)

In [ ]:
operar(2, 2, restar)

In [ ]:
operar(2, 2, multiplicar)

In [ ]:
operar(2, 2, dividir)

## Programaci√≥n orientada a objetos
Recuento general, los objetos representan entidades con caracteristicas y servicios.

In [ ]:
class Calculadora:

    def __init__(self): ## Hablar de los constructores
        print("Se est√° creando una calculadora")
        
    def sumar(self, a, b): ## mostrar que pasa si quitamos self y hablar de self
        #print("self:", self)
        return a + b 
    
    def restar(self, a, b):
        print("self:", self)
        return a - b 
    
    def multiplicar(self, a, b):
        return a * b 
    
    def dividir(self, a, b):
        return a / b

In [ ]:
# Qu√© son las instancias
miCalculadora = Calculadora()
miCalculadora

In [ ]:
# Qu√© representa ?
type(miCalculadora)

In [ ]:
# qu√© hace la notaci√≥n de (.) punto
suma = miCalculadora.sumar(10, 44)
print(suma)

In [ ]:
resta = miCalculadora.restar(10, 44)
print(resta)

In [ ]:
multiplicacion = miCalculadora.multiplicar(10,10);
print(multiplicacion)

In [ ]:
division = miCalculadora.dividir(100,10)
division

### Adem√°s de las instancias, ¬øqu√© tenemos?

#### Decoradores

¬øQu√© son?: Son definiciones adicionales usando la notaci√≥n de @

##### ¬øCu√°les usamos?

@staticmethod y @classmethod son decoradores en Python utilizados para definir m√©todos dentro de una clase.

Ambos permiten llamar a los m√©todos sin la necesidad de crear una instancia de la clase, lo que significa que son m√©todos que pertenecen a la clase en s√≠ y no a las instancias individuales de la clase.

‚ö† La principal diferencia entre @staticmethod y @classmethod radica en c√≥mo se pasan los argumentos y c√≥mo se comportan en relaci√≥n con la clase y las instancias. Veamos cada uno de ellos:

###### @staticmethod:

Un m√©todo decorado con @staticmethod no toma el primer argumento como self. No tiene acceso a los atributos o m√©todos de instancia, ni al propio objeto de la instancia. Por lo tanto, no necesita una referencia a la instancia de la clase para ser llamado.

Se utiliza para definir m√©todos que no necesitan informaci√≥n espec√≠fica de la instancia y que realizan operaciones independientes de cualquier estado de instancia.

Se puede llamar desde la clase o una instancia de la clase.

In [ ]:
class MyClass:
    @staticmethod
    def static_method():
        print("Soy un m√©todo est√°tico.")

# Llamada desde la clase
MyClass.static_method()

# Llamada desde una instancia de la clase
obj = MyClass()
obj.static_method()

##### @classmethod:

Un m√©todo decorado con @classmethod toma el primer argumento como cls, que hace referencia a la propia clase. Con este argumento, el m√©todo tiene acceso a los atributos y m√©todos de la clase.

Se utiliza para definir m√©todos que necesitan acceder a la clase y no necesariamente a las instancias individuales.

Se puede llamar desde la clase, y tambi√©n desde una instancia de la clase, pero en este caso, cls se refiere a la clase que es el tipo de la instancia desde la cual se llama.

In [ ]:
class MyClass:
    class_variable = "Hola terricolas"

    @classmethod
    def class_method(cls):
        print("soy un m√©todo de clase")
        print(cls.class_variable)  # Acceso a atributos de la clase

# Llamada desde la clase
MyClass.class_method()

# Llamada desde una instancia de la clase
obj = MyClass()
obj.class_method()

## Pipeline

In [ ]:
# 
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_csv("S4/Sales_January_2019.csv")

print(df.info())

In [ ]:
def lookup_na(df_to_lookup):
    ## Identificaci√≥n de NaN
    contains_na = False
    for col in df_to_lookup.columns:
        count_na = df[col].isnull().sum()
        print("Nan x columna [", col, "]:", count_na)
        contains_na = True        
    return [contains_na, df_to_lookup]

def clean_na(df_to_clean):
    ## limpieza de na
    df_to_clean.dropna(inplace=True)
    return df_to_clean

In [ ]:
result = lookup_na(df)
if(result[0]):
    clean_na(result[1])

In [ ]:
print(df.info())

##### C√≥mo lo plantea python pipe / en pandas

In [ ]:
import pandas as pd

def change_age(x):
    print(type(x))
    x["age"]=[10, 20, 30]
    return x

def add_column(x, arg1):    
    x[arg1]=[True, False, False]
    return x

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

df = pd.DataFrame(data)
df.pipe(change_age).pipe(add_column, arg1="colA").pipe(add_column, arg1="colB").pipe(add_column, arg1="colC")

print(df)

# hablar de: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pipe.html

## Carga de m√∫ltiples archivos

In [1]:
%%time
import os
import pandas as pd
from datetime import datetime as dt
import matplotlib as plt

# Ruta de la carpeta que contiene los archivos
ruta_carpeta = 'data_files/'  # Reemplaza esto con la ruta de tu carpeta

# Lista para almacenar los DataFrames cargados
dataframes = []

# Recorre todos los archivos en la carpeta
for archivo in os.listdir(ruta_carpeta):
    # Verifica si el archivo tiene una extensi√≥n que corresponde a un archivo CSV o Excel
    if archivo.endswith('.csv') or archivo.endswith('.xlsx'):
        # Construye la ruta completa del archivo
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        #print("Cargando:", ruta_archivo)
        # Carga el archivo en un DataFrame y agrega a la lista (** hablar de la notaci√≥n one line)
        df = pd.read_csv(ruta_archivo) if archivo.endswith('.csv') else pd.read_excel(ruta_archivo)
        #df.dropna(inplace=True)
        dataframes.append(df)
    
    #print(list(df.head(0).columns))
    #print(archivo,'\r\n',df.dtypes)
        
df_combinado = pd.concat(dataframes, ignore_index=True)

CPU times: total: 344 ms
Wall time: 1.02 s

In [2]:
def dropper(x):   
    x.dropna(inplace=True)
    return x

def clean_headers(x):   
    x = x.drop(x[x["Quantity Ordered"] == "Quantity Ordered"].index)
    return x

def formatear_fecha(df,col_name='Order Date'):
    df['fecha_objeto'] = pd.to_datetime(df[col_name], format="%m/%d/%y %H:%M")
    #df['date_fix'] = pd.to_datetime(df[col], format = "%m/%d/%y %H:%M")
    df['nueva_fecha'] = df['fecha_objeto'].dt.strftime("%d/%m/%Y")
    df['nuevo_tiempo'] = df['fecha_objeto'].dt.strftime("%H:%M")
    #df.drop(columns=['fecha_objeto'], inplace=True)
    return df

def convertir_formato_fecha(fecha_hora_str,col_name='Order Date'):
    formato_entrada = "%m/%d/%y %H:%M"
    fecha_hora_obj = datetime.strptime(fecha_hora_str, formato_entrada)    
    formato_salida = "%d/%m/%Y %H:%M" 
    fecha_nueva_str = fecha_hora_obj.strftime(formato_salida)   
    return fecha_nueva_str

def separar(cadena_texto):
    lista_salida = cadena_texto.split()    
    return lista_salida

def split_address(df, colname="Purchase Address"):
    splitted_list = df[colname].str.split(",")
    df["City"] = pd.DataFrame(splitted_list)[colname].str.get(1)
    df["State"] = pd.DataFrame(splitted_list)[colname].str.get(2)
    df["State"] = df["State"].str.extract(r'(\w+)')
    return df

def replace_float(df,colname="Price Each"):
    df[colname] = df[colname].astype(float)
    return df

df_combinado = df_combinado.pipe(dropper).pipe(clean_headers).pipe(formatear_fecha).pipe(split_address).pipe(replace_float)

In [3]:
df_combinado

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,fecha_objeto,nueva_fecha,nuevo_tiempo,City,State
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00,19/04/2019,08:46,Dallas,TX
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00,07/04/2019,22:30,Boston,MA
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,12/04/2019,14:38,Los Angeles,CA
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00,12/04/2019,14:38,Los Angeles,CA
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",2019-04-30 09:27:00,30/04/2019,09:27,Los Angeles,CA
...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",2019-09-17 20:56:00,17/09/2019,20:56,Los Angeles,CA
186846,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",2019-09-01 16:00:00,01/09/2019,16:00,San Francisco,CA
186847,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",2019-09-23 07:39:00,23/09/2019,07:39,San Francisco,CA
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",2019-09-19 17:30:00,19/09/2019,17:30,San Francisco,CA
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",2019-09-30 00:18:00,30/09/2019,00:18,San Francisco,CA

In [4]:
pd.DataFrame(df_combinado.groupby([df_combinado['fecha_objeto'].dt.year, df_combinado['fecha_objeto'].dt.month])['Price Each'].sum())

                           Price Each
fecha_objeto fecha_objeto
2019         1             1803264.98
             2             2188884.72
             3             2791207.83
             4             3367671.02
             5             3135125.13
             6             2562025.61
             7             2632539.56
             8             2230345.42
             9             2084992.09
             10            3715554.83
             11            3180600.68
             12            4588415.41
2020         1                8503.40

In [55]:
pd.DataFrame(df_combinado.groupby([df_combinado['fecha_objeto'].dt.year, df_combinado['fecha_objeto'].dt.month])['Price Each'].describe())

                             count        mean         std   min    25%  \
fecha_objeto fecha_objeto
2019         1              9675.0  186.383977  330.519810  2.99  11.95
             2             11975.0  182.787868  325.790199  2.99  11.95
             3             15153.0  184.201665  331.447595  2.99  11.95
             4             18279.0  184.237158  330.670800  2.99  11.95
             5             16566.0  189.250581  342.568703  2.99  11.95
             6             13554.0  189.023580  336.841345  2.99  11.95
             7             14293.0  184.183835  332.978075  2.99  11.95
             8             11961.0  186.468140  332.237828  2.99  11.95
             9             11621.0  179.415893  328.624100  2.99  11.95
             10            20282.0  183.194696  334.071423  2.99  11.95
             11            17573.0  180.993608  330.246289  2.99  11.95
             12            24984.0  183.654155  332.865549  2.99  11.95
2020         1                34.0  250.100000  378.149071  2.99  14.95

                              50%    75%     max
fecha_objeto fecha_objeto
2019         1              14.95  150.0  1700.0
             2              14.95  150.0  1700.0
             3              14.95  150.0  1700.0
             4              14.95  150.0  1700.0
             5              14.95  150.0  1700.0
             6              14.95  150.0  1700.0
             7              14.95  150.0  1700.0
             8              14.95  150.0  1700.0
             9              14.95  150.0  1700.0
             10             14.95  150.0  1700.0
             11             14.95  150.0  1700.0
             12             14.95  150.0  1700.0
2020         1             109.99  262.5  1700.0

In [56]:
#agrupacion por meses

In [57]:
mensuales = pd.DataFrame(df_combinado.groupby([df_combinado['fecha_objeto'].dt.year, df_combinado['fecha_objeto'].dt.month])['Price Each'].describe())
print(mensuales)

                             count        mean         std   min    25%  \
fecha_objeto fecha_objeto
2019         1              9675.0  186.383977  330.519810  2.99  11.95
             2             11975.0  182.787868  325.790199  2.99  11.95
             3             15153.0  184.201665  331.447595  2.99  11.95
             4             18279.0  184.237158  330.670800  2.99  11.95
             5             16566.0  189.250581  342.568703  2.99  11.95
             6             13554.0  189.023580  336.841345  2.99  11.95
             7             14293.0  184.183835  332.978075  2.99  11.95
             8             11961.0  186.468140  332.237828  2.99  11.95
             9             11621.0  179.415893  328.624100  2.99  11.95
             10            20282.0  183.194696  334.071423  2.99  11.95
             11            17573.0  180.993608  330.246289  2.99  11.95
             12            24984.0  183.654155  332.865549  2.99  11.95
2020         1                34.0  250.100000  378.149071  2.99  14.95

                              50%    75%     max
fecha_objeto fecha_objeto
2019         1              14.95  150.0  1700.0
             2              14.95  150.0  1700.0
             3              14.95  150.0  1700.0
             4              14.95  150.0  1700.0
             5              14.95  150.0  1700.0
             6              14.95  150.0  1700.0
             7              14.95  150.0  1700.0
             8              14.95  150.0  1700.0
             9              14.95  150.0  1700.0
             10             14.95  150.0  1700.0
             11             14.95  150.0  1700.0
             12             14.95  150.0  1700.0
2020         1             109.99  262.5  1700.0

In [58]:
mensuales = pd.DataFrame(df_combinado.groupby([df_combinado['fecha_objeto'].dt.year, df_combinado['fecha_objeto'].dt.month])['City'].describe())
print(mensuales)

                           count unique             top  freq
fecha_objeto fecha_objeto
2019         1              9675      9   San Francisco  2354
             2             11975      9   San Francisco  2905
             3             15153      9   San Francisco  3603
             4             18279      9   San Francisco  4426
             5             16566      9   San Francisco  3928
             6             13554      9   San Francisco  3303
             7             14293      9   San Francisco  3531
             8             11961      9   San Francisco  2832
             9             11621      9   San Francisco  2733
             10            20282      9   San Francisco  4771
             11            17573      9   San Francisco  4315
             12            24984      9   San Francisco  6019
2020         1                34      8   San Francisco    12

In [59]:
fig_boxplot_Price = plt.figure() 
ax = fig_boxplot_Price.add_axes([0,0,2,2])
sns.boxplot(x=group_month['nueva_fecha'], y=group_month['Price Each'])
plt.show()

AttributeError: module 'matplotlib' has no attribute 'figure'